</div>

<div class="footer-padding"></div>
  <div class="footer">
    <a 
      class="footer-link" 
      href="https://github.com/rupak1811">
      <i class="footer-icon fab fa-github fa-lg"></i>
    </a>
      Contact Me
    <a 
      class="footer-link" 
      href="https://x.com/at_rouster">
      <i class="footer-icon fab fa-twitter fa-lg"></i>
    </a>
  </div>
</div>

<!-- Bootstrap Scripts -->
  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous">
  </script>
</body>

</html>