<%- include("partials/header") -%>


<div class="container text-center">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-dark text-white p-3 h-100">
                <img src="../img/contact.png" class="card-img-top w-50 mx-auto" alt="about-me">
                <div class="card-body">
                    <p class="card-text">
                        <%= contactContent %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




<%- include("partials/footer") -%>